<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <title>LiveProfiler</title>
    <script src="scripts/jquery-1.6.4.min.js"></script>
    <script src="scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="signalr/hubs"></script>
    <script type="text/javascript">
//<![CDATA[
var transactionIndex = 0;
var transactionTable = {};
var stepTable = {};

window.onload=function(){
    // register the grid component
    Vue.component('grid',
    {
        template: '#grid-template',
        props: {
            data: Array,
            columns: Array,
            headers: Object,
            filterKey: String,
            headerStyles: Object,
            transactionDetails: Object
        },
        data: function() {
            var sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = key == 'seq' ? -1 : 1;
            });
            return {
                sortKey: 'seq',
                sortOrders: sortOrders
            };
        },
        computed: {
            filteredData: function() {
                var filterKey = this.filterKey && this.filterKey.toLowerCase();
                var data = this.data;
                if (filterKey) {
                    data = data.filter(function(row) {
                        return Object.keys(row).some(function(key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1;
                        });
                    });
                }
                return data;
            }
        },
        filters: {
            capitalize: function(str) {
                return str.charAt(0).toUpperCase() + str.slice(1);
            }
        },
        methods: {
        }
    });

    Vue.component('grid-item',
    {
        template: '#grid-item-template',
        props: {
            transaction: Object,
            statusIconClass: String,
            transactionDetails: Object
        }
    });

    Vue.component('transaction-details', {
        template: '#transaction-details-template',
        props: {
            transactionTable: Object,
            transactionId: String
        }
    });

    Vue.component('transaction',
    {
        template: '#transaction-template',
        props: {
            model: Object
        },
        data: function() {
            return {
                open: true,
                stepsOpen: false,
                parametersOpen: false,
                resultOpen: false
            }
        },
        methods: {
            toggle: function() {
                this.open = !this.open;
            },
            toggleSteps: function () {
                this.stepsOpen = !this.stepsOpen;
            },
            toggleParameters: function () {
                this.parametersOpen = !this.parametersOpen;
            },
            toggleResult: function () {
                this.resultOpen = !this.resultOpen;
            }
        }
    });

    Vue.component('step',
    {
        template: '#step-template',
        props: {
            model: Object
        },
        data: function () {
            return {
                open: false,
                stepsOpen: false,
                parametersOpen: false,
                resultOpen: false
            }
        },
        methods: {
            toggle: function () {
                this.open = !this.open;
            },
            toggleSteps: function () {
                this.stepsOpen = !this.stepsOpen;
            },
            toggleParameters: function () {
                this.parametersOpen = !this.parametersOpen;
            },
            toggleResult: function () {
                this.resultOpen = !this.resultOpen;
            }
        }
    });

    Vue.component('obj',
    {
        template: '#obj-template',
        props: ['model', 'name']
    });

    // bootstrap the app

    var vm = new Vue({
        el: '#app',
        data: {
            searchQuery: '',
            gridColumns: ['seq', 'host', 'app', 'duration', 'category', 'displayName'],
            gridHeaders: {
                seq: 'Seq',
                host: 'Host',
                app: 'App',
                duration: 'Duration',
                category: 'Category',
                displayName: 'Name'
            },
            gridData: [
            ],
            headerStyles: {
                seq: 'width:55px',
                host: 'width:100px',
                app: 'width:100px',
                duration: 'width:100px',
                name: 'width:auto'
            },
            transactionDetails: {
                id: null
            },
            transactionTable: transactionTable
        }
    });

    function deleteStepsFromTable(steps) {
        steps.forEach(function(e) {
            delete stepTable[e.id];
            deleteStepsFromTable(e.steps);
        });
    }

    var connection = $.hubConnection();
    var contosoChatHubProxy = connection.createHubProxy('EventConsumerHub');
    contosoChatHubProxy.on('event', function (evt) {
        if (evt.type == 'TransactionStart') {
            transactionIndex++;

            var transaction = {
                seq: transactionIndex,
                id: evt.id,
                correlationId: evt.correlationId,
                hostName: evt.hostName,
                appName: evt.appName,
                category: evt.category,
                name: evt.name,
                displayName: evt.displayName,
                parameters: evt.parameters,
                start: evt.start,
                duration: null,
                isFinished: false,
                isSuccess: null,
                result: null,
                timeReceived: new Date(),
                steps: []
            };

            transactionTable[evt.id] = transaction;

            vm.gridData.unshift(transaction);

            if (vm.gridData.length > 100) {
                //var firstTransaction = vm.gridData.slice(0);
                vm.gridData.splice(-1);
                //delete transactionTable[firstTransaction.id];

                //deleteStepsFromTable(firstTransaction.steps);
            }
        } else if (evt.type == 'TransactionFinish') {
            var transaction = transactionTable[evt.id];

            if (transaction) {
                transaction.duration = evt.duration;
                transaction.isSuccess = evt.isSuccess;
                transaction.result = evt.result;
                transaction.isFinished = true;
            } else {
                console.error('Unable to find transaction with id ' + evt.id);
            }
        } else if (evt.type == 'StepStart') {
            var parent = transactionTable[evt.parentId];

            if (!parent) {
                parent = stepTable[evt.parentId];
            }

            if (parent) {
                var step = {
                    id: evt.id,
                    parentId: evt.parentId,
                    correlationId: evt.correlationId,
                    category: evt.category,
                    name: evt.name,
                    displayName: evt.displayName,
                    parameters: evt.parameters,
                    start: evt.start,
                    relativeStart: evt.relativeStart,
                    duration: null,
                    isSuccess: null,
                    result: null,
                    isFinished: false,
                    timeReceived: new Date(),
                    steps: []
                };

                stepTable[evt.id] = step;
                parent.steps.unshift(step);

                if (step.category == 'MongoDB') {
                    console.info('MongoDB step started id: ' + step.id);
                }
            } else {
                console.error('Unable to find transaction or step with id ' + evt.parentId);
            }
        } else if (evt.type == 'StepFinish') {
            var step = stepTable[evt.id];

            if (step) {
                step.duration = evt.duration;
                step.isSuccess = evt.isSuccess;
                step.result = evt.result;
                step.isFinished = true;

                if (step.category == 'MongoDB') {
                    console.info('MongoDB step finished id: ' + step.id);
                }
            } else {
                console.error('Unable to find step with id ' + evt.id);
            }
        } else {
            console.error('Unrecognized event type: ' + evt.type);
        }
    });
    connection.start()
        .done(function(){ console.log('Now connected, connection ID=' + connection.id); })
        .fail(function(){ console.log('Could not connect'); });
}
//]]>

    </script>
</head>

<body>
    <!-- component template -->
    <script type="text/x-template" id="grid-item-template">
        <tr @click="transactionDetails.id = transaction.id">
            <td><div :class="statusIconClass"></div>{{transaction.seq}}</td>
            <td>{{transaction.hostName}}</td>
            <td>{{transaction.appName}}</td>
            <td>{{transaction.duration}}</td>
            <td>{{transaction.category}}</td>
            <td>{{transaction.displayName || transaction.name}}</td>
        </tr>
    </script>
    <script type="text/x-template" id="grid-template">
        <table id="transactions">
            <thead>
                <tr>
                    <th v-for="key in columns"
                        :class="'active'"
                        :style="'width:' + (key == 'seq' ? '55px' : (key == 'displayName' ? 'auto' : '100px'))">
                        {{ headers[key] }}
                    </th>
                </tr>  
            </thead>
            <tbody>
                <tr is="grid-item" 
                    v-for="transaction in filteredData" 
                    :transaction="transaction" 
                    :statusIconClass="transaction.isFinished ? (transaction.isSuccess ? 'successIcon' : 'failureIcon') : 'progressIcon'"
                    :transaction-details="transactionDetails"></tr>
            </tbody>
        </table>
    </script>

<script type="text/x-template" id="transaction-details-template">
        <transition name="transaction-details">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <slot name="header">
                                <h3>Transaction Details</h3>
                            </slot>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <transaction :model="transactionTable[transactionId]">
                                </transaction>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="modal-default-button" @click="$emit('close')">Close</button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

<script type="text/x-template" id="transaction-template">
        <li :class="model.isFinished ? (model.isSuccess ? 'bulletSuccess' : 'bulletFailure'): 'bulletProgress'">
            <span class="transactionName">
                {{model.displayName ? model.displayName : model.name}}
            </span>
            <ul v-show="open">
                <li v-if="model.hostName" class="propertyBullet"><span class="propertyName">Host</span>: {{model.hostName}}</li>
                <li v-if="model.appName" class="propertyBullet"><span class="propertyName">App</span>: {{model.appName}}</li>
                <li v-if="model.id" class="propertyBullet"><span class="propertyName">Id</span>: {{model.id}}</li>
                <li v-if="model.correlationId" class="propertyBullet"><span class="propertyName">Correlation Id</span>: {{model.correlationId}}</li>
                <li v-if="model.category" class="propertyBullet"><span class="propertyName">Category</span>: {{model.category}}</li>
                <li v-if="model.name" class="propertyBullet"><span class="propertyName">Name</span>: {{model.name}}</li>
                <li v-if="model.displayName" class="propertyBullet"><span class="propertyName">Display Name</span>: {{model.displayName}}</li>
                <li v-if="model.duration" class="propertyBullet"><span class="propertyName">Duration</span>: {{model.duration}}</li>
                <li v-if="model.parameters" class="bullet-document">
                    <div class="propertyName expandable" @click="toggleParameters">
                        Parameters <span>[{{parametersOpen ? '-' : '+'}}]</span>
                    </div>
                    <obj :model="model.parameters" v-if="parametersOpen"></obj>
                </li>
                <li v-if="model.result" class="bullet-document">
                    <div class="propertyName expandable" @click="toggleResult">
                        Result <span>[{{resultOpen ? '-' : '+'}}]</span>
                    </div>
                    <obj :model="model.result" v-if="resultOpen"></obj>
                </li>
                <li v-if="model.steps.length > 0" class="bulletSteps">
                    <div @click="toggleSteps" class="expandable">
                        <span class="propertyName">Steps</span> ({{model.steps.length}}) <span>[{{stepsOpen ? '-' : '+'}}]</span>
                    </div>
                    <ul v-show="stepsOpen">
                        <step
                              v-for="step in model.steps"
                              :model="step">
                        </step>
                    </ul>
                </li>
            </ul>
        </li>
    </script>

<script type="text/x-template" id="step-template">
        <li :class="model.isFinished ? (model.isSuccess ? 'bulletSuccess' : 'bulletFailure'): 'bulletProgress'">
            <div class="stepName expandable" @click="toggle">
                {{model.displayName ? model.displayName : model.name}}
                <span>[{{open ? '-' : '+'}}]</span>
            </div>
            <ul v-show="open">
                <li v-if="model.id" class="propertyBullet"><span class="propertyName">Id</span>: {{model.id}}</li>
                <li v-if="model.category" class="propertyBullet"><span class="propertyName">Category</span>: {{model.category}}</li>
                <li v-if="model.name" class="propertyBullet"><span class="propertyName">Name</span>: {{model.name}}</li>
                <li v-if="model.displayName" class="propertyBullet"><span class="propertyName">Display Name</span>: {{model.displayName}}</li>
                <li v-if="model.duration" class="propertyBullet"><span class="propertyName">Duration</span>: {{model.duration}}</li>
                <li v-if="model.parameters" class="bullet-document">
                    <div class="propertyName expandable" @click="toggleParameters">
                        Parameters <span>[{{parametersOpen ? '-' : '+'}}]</span>
                    </div>
                    <obj :model="model.parameters" v-if="parametersOpen"></obj>
                </li>
                <li v-if="model.result" class="bullet-document">
                    <div class="propertyName expandable" @click="toggleResult">
                        Result <span>[{{resultOpen ? '-' : '+'}}]</span>
                    </div>
                    <obj :model="model.result" v-if="resultOpen"></obj>
                </li>
                <li v-if="model.steps.length > 0" class="bulletSteps">
                    <div @click="toggleSteps" class="expandable">
                        <span class="propertyName">Steps</span> ({{model.steps.length}}) <span>[{{stepsOpen ? '-' : '+'}}]</span>
                    </div>
                    <ul v-show="stepsOpen">
                        <step
                              v-for="step in model.steps"
                              :model="step">
                        </step>
                    </ul>
                </li>
            </ul>
        </li>
    </script>

    <script type="text/x-template" id="obj-template">
        <div :class="name ? 'obj-property' : 'obj'" v-if="model">
            <span v-if="typeof model !== 'object'">
                <span class="propertyName">{{name}}</span>: {{model}}
            </span>
            <span v-if="typeof model === 'object' && name">
                <span class="propertyName">{{name}}</span>
            </span>
            <ul v-if="typeof model === 'object'">
                <li class="propertyBullet" v-for="(propertyValue, propertyName) in model" v-if="propertyValue && propertyName">
                    <obj :model="propertyValue" :name="propertyName"></obj>
                </li>
            </ul>
        </div>
    </script>

<!-- app root element -->
    <div id="app">
        <form id="search">
            Search <input name="query" v-model="searchQuery">
        </form>
        <grid :data="gridData"
              :columns="gridColumns"
              :headers="gridHeaders"
              :filter-key="searchQuery"
              :transaction-details="transactionDetails"
              :header-styles="headerStyles"
              style="width: 100%">
        </grid>
        <transaction-details
            v-if="transactionDetails.id" 
            @close="transactionDetails.id = null"
            :transaction-table="transactionTable" 
            :transaction-id="transactionDetails.id">
        </transaction-details>
    </div>
</body>
</html>